.main-content{
  padding: 10px;
  background-color:   skyblue;
}
.submit-style{
  background-color: #4CAF50;
  border: none;
  color:  black;
  padding:  3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.remove-style{
  background-color: #4CAF50;
  color:   white;
  padding:  3px;
}
.first-content{
  padding-bottom:  10px;
}
.data-class{
  padding-top:10px;
}